# Python 03 - Built in Data Structures

In [1]:
# Strings are immutable 
# that is we cannot do like name[0]="A" if name is name="nshuman"
a="""This is a multi
line string"""
print(a)

This is a multi
line string

In [4]:
ord("a")
#  returns the ASCII number
chr(65)
#  returns the ASCII value of a number

'A'

# Strings
- formatted strings
- strip
- split
- replace
- count

In [12]:
name="anshuman"
age=24
print("My name is "+name+" i am "+str(age)+" years old. ")
print("My name is ", name, "I am ", age, "years old")
print("My name is %s I am %d years old"%(name, age))
print("My name is {} i am {} yeards old.".format(name, age))

My name is anshuman i am 24 years old.
My name is  anshuman I am  24 years old
My name is anshuman I am 24 years old
My name is anshuman i am 24 yeards old.

In [15]:
a="Good Morning     "
a.strip()

'Good Morning'

In [18]:
response=input("Please enter yes or no")
response=response.strip()
print(response)
if response=="yes":
    print("Authenticated")
else:
    print("Error")

Please enter yes or no  yes
yes
Authenticated

### Split function
creates a list from a string

In [20]:
lis=input("Please enter the ages").split(" ")
print (lis)

Please enter the ages23 10 1997
['23', '10', '1997']

In [24]:
st="Anshuman Sharma"
st=st.replace("Anshuman","anshu")
st.count("s")

1

# lists

In [31]:
l=["Anshuman", 23, 1997,10,print]
l[3]
l[4]("hello World")
len(l)
b=["Anshu"]
l=l+b
l

hello World

['Anshuman', 23, 1997, 10, <function print>, 'Anshu']

In [32]:
"Anshu" in l

True

In [33]:
st="Anshuman"
st[::-1]

'namuhsnA'

In [34]:
# to check palindrome
st==st[::-1]

False

Updating the list
-insert
-append

In [38]:
a=[1,2,3,4]
a.insert(0,0)
a
a.append(5)
a

[0, 1, 2, 3, 4, 5]

In [47]:
# Leet code problem
x=0.0001111
st=str(x)
print(st)
x=0
for i in st:
    if i ==1:
        x+=1
print(x)     
        
class Solution:
    def hammingWeight(self, n: int) -> int:
        counter = 0
        while n:
            digit = n%2
            if digit == 1:
                counter += 1
            n = n//2
        return counter

0.0001111
0

In [49]:
111111111100//2

55555555550


# TUPLES

In [5]:
# Tuples are immutable
a=(1,2,3,4)
type(a)
# tuples are efficitn and fast than list
# If we wish to return more than 1 valur in a function we can use tuple eg followed
def fun(a,b):
    return (a+b, a-b)
summ, diff=fun(9,8)
print(summ)
print(diff)

17
1

# Dictionaries

In [10]:
# Dictionaries are unordered
a={
    "name":"Anshuman",
    "age": 24
    
}
print(a["age"])

24

In [11]:
for key in a:
    print(key)

name
age

Some important dict methods
1) get()
2) items()
3) keys()
4) values()
5) clear()

In [13]:
for key, value in a.items():
    print("Key:  ",key," -> value: ",value )

Key:   name  -> value:  Anshuman
Key:   age  -> value:  24

In [16]:
n= int(input("Please enter the number of students"))
students=[]
for i in range(n):
    roll_num=int(input("enter the roll number"))
    name=input("Enter the name")
    branch=input("Enter the branch")
    students.append({
        "roll_No":roll_num,
        "name":name,
        "branch":branch
    })
students

Please enter the number of students2
enter the roll number2
Enter the name2
Enter the branch2
enter the roll number2
Enter the name2
Enter the branch2

[{'roll_No': 2, 'name': '2', 'branch': '2'},
 {'roll_No': 2, 'name': '2', 'branch': '2'}]

In [19]:
# Keys in the dictionary can be any immutable DS
# example tuples are immutable so
a={(1,2):"Anshuman"}
a[(1,2)]

'Anshuman'

In [20]:
# But we cant use list as a key as it is immutable

# SETS

Set is an unordered data structure, isnt meant to be iterated, we cannot index in sets.
Set is a unique collection of items thats it

In [22]:
a={1,2,3,4}
type(a)

set

In [25]:
# to create an empty set
a=set()
type(a)

set

In [27]:
a={1,2,3,4}
b={2,3,4}
a.intersection(b)

{2, 3, 4}

In [31]:
a={1,2,3,1,2,3}
list(set(a)
     
# but location cannot be determnined
# Best way to deduplicate

SyntaxError: unexpected EOF while parsing (<ipython-input-31-2f70935a65d5>, line 6)

# Comprehension

In [34]:
x=[x**2 for x in range(10) if x%2==0 ]

In [35]:
x

[0, 4, 16, 36, 64]

Dict comprehension

In [36]:
a={a:a**2 for a in range(11)}

In [37]:
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Set comprehension

In [38]:
{a**2 for a in range(11)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}